<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Why are you reading my code?">
	<meta name="author" content="Sabbir">

	<title>SlothSure | Home</title>


	{% include 'css.html' %}

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->

		</head>

		{% include 'header.html' %}

		<!-- Portfolio -->

		<section id="portfolio">

			<div class="svg-wrapper" style="display: block; margin-left: auto; margin-right: auto;">
				<svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
					<rect id="shape" height="40" width="150" /></rect>
					<div id="text" data-dismiss="modal">
						<a href="/play" onClick="myFunction()">
							<span class="spot"></span>
							<i class="fa fa-cogs"></i>
							Sloth me up!
						</a>
					</div>
				</svg>
			</div>

		</section>

		{% include 'footer.html' %}

	</body>

	<script>
		function myFunction() {
			confirm("Your posture is being tracked! Press any button to exit! We don't really know much JavaScript...");
		}
	</script>

	</html>