<!DOCTYPE HTML>

<html>

<head>
<title> Spinosaurus </title>

</head>

<body>

<h1> Sit up Straight or the Sloth will yell </h1>


 <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
	<iframe id="player" width="560" height="315" src="https://www.youtube.com/embed/aaqzPMOd_1g?autoplay=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>

    <div id="slothYell">0</div>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '315',
          width: '560',
          videoId: 'aaqzPMOd_1g',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      
      function onPlayerStateChange(event) {
        if (event.data != YT.PlayerState.PLAYING) {
       		player.seekTo(0,true);
       		player.playVideo();
        }
      }
    </script>
</body>


</html>
