<!-- Javascript -->

<!-- jQuery -->
<script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ url_for('static', filename = 'js/jquery.easing.min.js') }}"></script>
<!-- Dbpedia search -->

<script src="{{ url_for('static', filename = 'js/jquery-ui.min.js') }}"></script>


<!-- JavaScript Pie -->
<script src="{{ url_for('static', filename = 'js/canvasjs.min.js') }}"></script>

<script src="{{ url_for('static', filename = 'js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/Chart.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/gulpfile.js') }}"></script>
